<plugin name='jquery-form-builder' version='0.1' grailsVersion='1.2.2 &gt; *'>
  <author>Lim Chee Kin</author>
  <authorEmail>limcheekin@vobject.com</authorEmail>
  <title>JQuery Form Builder Plugin - JQuery WYSIWYG Web Form Builder</title>
  <description>The WYSIWYG Web Form Builder implemented in JQuery and JQuery UI allowed you 
to create online forms in web browser without any programming knowledge.
 
This plugin simply supplies [jQuery Form Builder plugin|http://code.google.com/p/jquery-form-builder-plugin/] resources, 
and depends on the jQuery plugin and jQuery UI plugin to include the supporting libraries.

Use this plugin in your own apps and plugins to avoid resource duplication and conflicts.

* Live Demo: [http://jquery-form-builder-plugin.appspot.com/]
* Project Site and Documentation: [http://code.google.com/p/jquery-form-builder-plugin/]
* Support: [http://code.google.com/p/jquery-form-builder-plugin/issues/list] 
* Discussion Forum: [http://groups.google.com/group/jquery-form-builder-plugin]
</description>
  <documentation>http://grails.org/plugin/jquery-form-builder</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.jquery.formbuilder.JQueryFormBuilderTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='jquery' version='1.4.2.7' />
    <plugin name='jqueryUi' version='1.8.6' />
  </dependencies>
  <behavior />
</plugin>